In [15]:
from sklearn.datasets import load_iris
import pandas as pd

In [16]:
iris=load_iris()
# dir(iris)

In [17]:
import numpy as np 
data=np.array(iris.data)#(150 x 4) 2d array of size
target=np.array(iris.target).reshape(150,1)#reshape as 2d array
datas=np.append(data,target,axis=1)

In [18]:
feature_names=np.array(iris.feature_names)#leave as 1d array 
header=np.append(feature_names,'target')

In [19]:
df = pd.DataFrame(datas,columns=header)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [20]:
y=df['target']
X=df.drop(['target'],axis='columns')

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [30]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression()

In [31]:
reg.fit(X_train,y_train)

LogisticRegression()

In [32]:
reg.score(X_test,y_test)

0.9666666666666667

In [33]:
y_pred=reg.predict(X_test)
y_pred

array([1., 1., 0., 2., 0., 2., 0., 0., 2., 2., 1., 0., 0., 1., 2., 2., 0.,
       1., 1., 2., 0., 1., 0., 1., 1., 2., 1., 1., 2., 1.])

In [34]:
y_test

66     1.0
92     1.0
19     0.0
128    2.0
29     0.0
113    2.0
17     0.0
40     0.0
132    2.0
102    2.0
51     1.0
2      0.0
46     0.0
61     1.0
119    2.0
136    2.0
49     0.0
62     1.0
78     1.0
83     1.0
45     0.0
53     1.0
48     0.0
55     1.0
86     1.0
143    2.0
85     1.0
82     1.0
138    2.0
89     1.0
Name: target, dtype: float64

In [35]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)

In [36]:
cm

array([[ 9,  0,  0],
       [ 0, 12,  0],
       [ 0,  1,  8]])