In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('datasets/titanic.csv')
df.shape

(891, 12)

In [5]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df1=df[['Survived','Pclass','Sex','Embarked']].dropna()

In [13]:
df1.isna().sum()

Survived    0
Pclass      0
Sex         0
Embarked    0
dtype: int64

In [14]:
df1.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

In [16]:
y=df1['Survived']
y.shape

(889,)

In [21]:
# X=df1.drop('Survived',axis='columns')
X=df1[['Pclass']]
X.shape

(889, 1)

In [22]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [23]:
from sklearn.model_selection import cross_val_score

In [27]:
cross_val_score(lr,X,y,cv=5,scoring='accuracy').mean()

0.6783406335301212

In [28]:
y.value_counts(normalize='True')

0    0.617548
1    0.382452
Name: Survived, dtype: float64

In [33]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse='False')

In [34]:
ohe.fit_transform(df1[['Embarked']])

<889x3 sparse matrix of type '<class 'numpy.float64'>'
	with 889 stored elements in Compressed Sparse Row format>

In [35]:
ohe.categories_

[array(['C', 'Q', 'S'], dtype=object)]

In [38]:
df1

     Survived  Pclass     Sex Embarked
0           0       3    male        S
1           1       1  female        C
2           1       3  female        S
3           1       1  female        S
4           0       3    male        S
..        ...     ...     ...      ...
886         0       2    male        S
887         1       1  female        S
888         0       3  female        S
889         1       1    male        C
890         0       3    male        Q

[889 rows x 4 columns]

In [41]:
X1=df1.drop('Survived',axis='columns')
X1

     Pclass     Sex Embarked
0         3    male        S
1         1  female        C
2         3  female        S
3         1  female        S
4         3    male        S
..      ...     ...      ...
886       2    male        S
887       1  female        S
888       3  female        S
889       1    male        C
890       3    male        Q

[889 rows x 3 columns]

In [29]:
from sklearn.compose import make_column_transformer

In [42]:
column_trans = make_column_transformer((OneHotEncoder(),['Sex','Embarked']),remainder='passthrough')

In [43]:
column_trans.fit_transform(X1)

array([[0., 1., 0., 0., 1., 3.],
       [1., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 3.],
       ...,
       [1., 0., 0., 0., 1., 3.],
       [0., 1., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 3.]])

In [44]:
from sklearn.pipeline import make_pipeline

In [45]:
pipe = make_pipeline(column_trans,lr)

In [47]:
cross_val_score(pipe,X1,y,cv=5,scoring='accuracy').mean()

0.7727924839713071

In [57]:
X_new=X1.sample(5,random_state=99)
X_new

     Pclass     Sex Embarked
599       1    male        C
512       1    male        S
273       1    male        C
215       1  female        C
790       3    male        Q

In [61]:
pipe.fit(X1,y)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['Sex', 'Embarked'])])),
                ('logisticregression', LogisticRegression())])

In [59]:
pipe.predict(X_new)

array([1, 0, 1, 1, 0])